
    @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);
    
    @font-face {
        font-family: "Poppins";
        src: local("Poppins Regular"), local("Poppins-Regular"), url(https://d2ir3791ijipum.cloudfront.net/rb/static/media/Poppins-Regular.5a6c15af.woff2) format("woff2"), url(https://d2ir3791ijipum.cloudfront.net/rb/static/media/Poppins-Regular.9b9d9585.woff) format("woff"), url(https://d2ir3791ijipum.cloudfront.net/rb/static/media/Poppins-Regular.82a4136e.ttf) format("truetype");
        font-weight: 400;
        font-style: normal
    }
    
    @font-face {
    	font-family: 'cold_warmregular';
    	src: url('cold_warm-webfont.woff2') format('woff2'),
             url('cold_warm-webfont.woff') format('woff');
    	font-weight: 400;
    	font-style: normal;

     }

    @media screen and (max-width:320px) {
         /* CSS for screens that are 320 pixels or less will be put in this section */
    }
    @media screen and (min-width:320px) and (max-width:640px) {
        /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
        /* code that is here, until the first @media block, will apply to any screen size */
    #somethingorother {
        width: 800px ;
        }
    }

    @media screen and (max-width: 320px) {
        /* comes into effect for screens less than or equal to 320 pixels */
     #somethingorother {
        width: 120px ;
        }
    }
    @media screen and (min-width: 321px) and (max-width: 480px) {
        /* comes into effect for screens between 321 and 480 pixels (inclusive) */
        #somethingorother {
            width: 320px ;
        }
    }
    @media screen and (min-width: 481px) {
        /* comes into effect for screens larger than or equal to 481 pixels */
        #somethingorother {
            width: 480px ;
        }
    }

    @media screen and (max-width:767px) {
        html, body {
	    overflow-x: hidden;
         }
    }
    /* code that is here will apply to any screen size */
    @media screen and (orientation:portrait) {
        /* ... */
    }
    @media screen and (orientation: landscape) {
        /* ... */
    }
    @media only screen and (max-width: 480px) {
        /* ... */
    }
    @media not (max-width: 639px) {
        /* CSS rules for any device that is wider than 639 pixels */
    }
    
    html { 
        background: url('../images/Scene_5_Color.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    h1 {
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
        font-size: 90px; 
        font-family: 'cold_warmregular', sans-serif;
        color: #ffc248;
        text-shadow: 3px 3px 6px #4dbcdf;
        text-shadow: 5px 5px 10px #000;
        background-blend-mode: color-dodge;
    }

    h2 {
        text-align: center;
        font-size: 70px; 
        text-decoration: underline;
        text-decoration-style: solid;
        font-family: "Poppins", "Poppins-Regular";
        color: #ffc248;
        text-shadow: 5px 5px 10px #000;
        background-blend-mode: color-dodge;
    }

    /*.header-socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-socials__item {
        margin-left: 1.3541666667vw;
        pointer-events: auto;
        width: unset;
    }
    
    .header-socials__item svg path {
        fill: #fff;
        transition: fill .25s ease-in-out
    }
    
    .header-socials__item:first-child {
        margin-left: 0
    }
    
    @media(any-pointer:fine) {
        .header-socials__item:hover svg path {
            fill: #ffc328
        }
    }

    @media(max-width:1024px) {
        .header-socials {
            justify-content: center
        }
        .header-socials__item {
            margin: 0 10px;
            width: 28px
        }
        .header-socials__item:first-child {
            margin-left: 10px
        }
    }

    .header-socials {
        flex-direction: row;
        align-items: flex-end
    }
    .header-socials__item {
        margin: 26px 0 0
    }

    .header-socials__item {
        display: inline-flex
    }
    
    .header-socials__item>svg {
        width: 25px;
        height: 36px
    }*/

    .button {
  	display: inline-block;
  	border-radius: 4px;
  	background-color: #ffc248;
  	border: none;
  	color: #000000;
  	text-align: center;
	font-family: "Poppins", "Poppins-Regular";
  	font-size: 20px;
  	padding: 10px;
  	width: 125px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
    }

    .button {
  	display: inline-block;
  	border-radius: 4px;
  	background-color: #ffc248;
  	border: none;
  	color: #000000;
  	text-align: center;
	font-family: "Poppins", "Poppins-Regular";
  	font-size: 20px;
  	padding: 10px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
    }

    .button1 {
	width: 175px;
    }

    .button2 {
	width: 175px;
    }

    .button3 {
	width: 175px;
    }

    .button4 {
	width: 175px;
    }

    .button5 {
	width: 200px;
    }

    .button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
    }

    .button span:after {
  	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
    }

    .button:hover span {
  	padding-right: 25px;
    }

    .button:hover span:after {
  	opacity: 1;
  	right: 0;
    }
